@font-face {
  font-family: "EnduroWeb";
  src: url("/fonts/EnduroWeb-Medium.woff") format("woff");
}

@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "EnduroWeb", sans-serif;

  --ui-radius: 0.1rem;

  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;
}
